* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: inline-block;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}


.header {
    padding: 8px 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    width: 58px;
    height: 20px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-right: 23px;
}

.header-item+.header-item {
    margin-left: 32px;
}

.header-item-link {
    font-size: 15px;
    color: #000000;
}

.header-item-link:hover {
    color: #00BAFC;
}

.header-item-link:active {
    color: red;
}

.header-nav-btn {
    padding: 8px 16px;
    font-size: 15px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
}

.header-nav-btn:hover {
    opacity: 0.7;
}

.header-nav-btn:active {
    opacity: 0.4;
    background-color: white;
}

.main {
    margin-top: 18px;
}

.hero-container {
    width: 1100px;
    height: 418px;
}

.hero {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.hero-left {
    display: inline-block;
}

.hero-title {
    display: block;
    margin-top: 97px;
    margin-right: 172px;
    margin-bottom: 16px;
    width: 470px;
    height: 78px;
    font-size: 30px;
    font-family: 'Open Sans';
    color: #000000;
}

.hero-text {
    display: block;
    margin-bottom: 16px;
    width: 465px;
    height: 74px;
    color: #000000;
}

.hero-btn {
    padding: 8px 16px 8px 16px;
    border-radius: 5px;
    gap: 10px;
    background-color: #00BAFC;
    color: white;
    width: 232px;
    height: 40px;
}

.hero-btn:hover {
    background-color: white;
    border: 1px solid blue;
    color: blue;
    width: 235px;
    height: 42px;
}

.hero-btn:active {
    background-color: dodgerblue;
}

.hero-video {
    width: 458px;
    height: 258px;
    margin-top: 80px;
}
/* services */
.services {
    padding: 56px 0;
}

.services-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
}

.services-text {
    width: 719px;
    height: 48px;
    text-align: center;
    margin-bottom: 24px;    
}

.services-cards {
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.servic-card {
    width: 220px;
    height: 260px;
}
